.hero {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../assets/hero-banner.avif);
    background-size: cover;
    background-position: center;
}